$about-color: #a55259;

.about-modal {
    h3 {
        font-weight: 700;
        font-size: 1.6rem;
        color: $about-color;
    }
    h4 {
        font-weight: 400;
        font-size: 1.2rem;
        color: rgb(240, 215, 215);
    }
    h5 {
        font-weight: 700;
        font-size: 1.1rem;
        color: $about-color;
    }
    p {
        // font-weight: 400;
        font-size: 1rem;
        color: rgb(240, 215, 215);
    }
    h6 {
        font-weight: 600;
        font-size: .9rem;
        color: rgb(240, 215, 215);
    }
    font-family: Arial, Helvetica, sans-serif;
    display: none;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 1001;
    overflow: auto;
    background-color: rgb(76, 63, 1);
    background-color: rgba(110, 32, 98, 0.391);
}

.about-content {
    background-color: #1a072e;
    margin: 15% auto;
    border: 1px solid rgb(61, 20, 9);
    padding: 20px;
    width: 40%;
    text-align: center;
}

#close {
    color: #aaa;
    float: right;
    font-size: 20px;
    font-weight: bold;
}

#close:hover,
#close:focus {
    color: rgb(48, 11, 11);
    text-decoration: none;
    cursor: pointer;
}