$color: aqua;

body {
    background-color: rgb(103, 82, 59);
}

header {
    display: flex;
    justify-content: flex-end;
}

section {
    display: flex;
    justify-content: space-between;
    #licenseData {
        font-size: 90%;
        margin: 3em;
    }
}

#csList {
    // display: flex;
    // width: 100%;
    // flex-wrap: wrap;

    li {
    cursor: pointer;
    }
}

#map {
    width: 600px;
    height: 400px;
    margin: 3em;
}

