@import "./styles/reset.scss";
@import "./styles/example.scss";
@import "./styles/about.scss";

.btn {
    border: 0;
    text-decoration: none;
    font-family: $primary-type;
    text-transform: uppercase;
    cursor: pointer;
}