@import "./styles/reset.scss";
@import "./styles/example.scss";
@import "./styles/about.scss";

.btn {
    border: 0;
    text-decoration: none;
    font-family: $primary-type;
    text-transform: uppercase;
    cursor: pointer;
}

// .pulse:hover,
// .pulse:focus {
//     animation: pulse 1s;
//     box-shadow: 0 0 0 2em hsla(315, 40%, 30%, 0);
// }

